.outer-container{
    width:400px;
    height:20px;
    border-radius: 10px;
    border:1px solid black;
    position:relative;
    overflow: hidden;
    margin:10px auto;
}

.progressSpan{
    position: absolute;
    z-index: 2;
    left:45%; 
}

.inner-container{
    position: absolute;
    width:40%;
    height: 100%;
    width:100%;
    background-color: green;
}

