.inputSection{
    width: 70%;
    margin:20px auto;
    display: flex;
    justify-content: space-between;
}
.buttonSection{
    display: flex;
    justify-content: space-around;
} 

.startBtn, .resetBtn{
    cursor: pointer;
    margin-right: 5px;
}

.timerSection{
    width:10%;
    margin:10px auto;
}