.chip-input {
    width: 100px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 3px 6px;
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    color: black;
    span{
        cursor: pointer;
        color:red;
    }
}