.product-container {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 25x;
  padding: 5px;
}
.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-title {
  text-align: center;
}
